.dailyitems {
    padding: 5%;
    text-align: center;
}

.dailyitems>li {
    padding-bottom: 10%;
}

.dailytemp {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent);
    text-align: center;
}

.dailyicon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dailyicon>img {
    width: 70%;
}

.dailyday {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.dailycard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.dailytitle {
    margin-top: 3%;
    display: block;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .dailyitems {
        padding-top: 5%;
    }

    .dailyday {
        font-size: 0.8em;
    }
}