.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--cardColor);
    box-shadow: var(--profileShadow);
    border-radius: 3rem;
    margin: 1rem;
    padding: 7%;
}

.mainforecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding-left: 10%;
    font-size: 2rem;
}

.celsius {
    font-size: 2.5rem;
    font-weight: bold;
    color: #207E77;
}

.mainicon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainicon>img {
    width: 90%;
}

.des {
    text-transform: uppercase;
    color: var(--gray);
    font-size: 1rem;
}

.moreinfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 0.75rem;
    padding-right: 10%;
    font-size: 1.5rem;
}

.icons {
    padding-right: 5px;
    width: 60px;
}

@media only screen and (max-width: 1024px) {
    .moreinfo li {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .moreinfo li {
        font-size: 1.2rem;
        padding-top: 3%;
    }

    .mainicon>img {
        width: 70%;
    }

    .icons {
        display: none;
    }

    .des {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 480px) {
    .moreinfo li {
        font-size: 0.9rem;
        padding-top: 3%;
    }

    .mainicon>img {
        width: 60%;
    }

    .icons {
        display: none;
    }

    .des {
        font-size: 0.4em;
    }
}