:root {
  --accent: #2AA098;
  --dark: #114944;
  --gray: #8A9998;
  --profileShadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --cardColor: #FDFCFC;
  --buttonBg: linear-gradient(98.63deg, #4caefe 0%, #226fae 100%);
  --inputColor: rgba(253, 252, 252, 0.66);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark);
}

button {
  outline: none;
  border: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  color: var(--dark);
}

h1,
h2 {
  text-align: center;
  margin-top: 5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(116.82deg, rgba(254, 162, 149, 0.2) 0%, rgba(0, 195, 194, 0.2) 100%);
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 1rem;
}

.form-container {
  background-image: url('./img/03d.jpg');
  background-size: cover;
  width: "100%";
  border-radius: 3rem;
  box-shadow: var(--profileShadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
  transition: "all 2s ease-in-out";
}


.info-container {
  background: #efefef;
  box-shadow: var(--profileShadow);
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 3rem;
  margin: 10px;
}

.name {
  padding: 5%;
}

.logo {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--cardColor);
  text-align: center;
  padding: 5%;

}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.search h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--cardColor);
  padding-bottom: 5%;
}

.summary>div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: var(--cardColor);
  box-shadow: var(--profileShadow);
  border-radius: 3rem;
  margin: 1rem;
  margin-bottom: 5%;
}

.title {
  margin-top: 3rem;
}

@media only screen and (max-width: 1440px) {

  h1,
  h2 {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: 99%;
    overflow: auto;
    font-size: 1.5rem;
  }

  .content::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }

  .form-container {
    gap: 1rem;
    border-radius: 3rem 3rem 0 0;
    margin-bottom: 0px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .city {
    font-size: 1.25rem;
  }

  .search h2 {
    font-size: 1.75rem;
  }

  .info-container {
    margin-top: 0px;
    border-radius: 0 0 3rem 3rem;
    padding: 0.6em;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 1.25rem;
  }

  .city {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.1rem;
    margin-top: 3%;
  }

  .info-container {
    padding: 0.4em;
  }
}


@media only screen and (max-width: 520px) {
  .content {
    display: grid;
    grid-template-columns: 99%;
    overflow: auto;
    padding: 0%;
  }

  .content::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }

  .logo {
    font-size: 0.95rem;
  }

  .city {
    font-size: 0.95rem;
  }

  .search h2 {
    font-size: 1rem;
    margin-top: 2%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .form-container {
    gap: 0.5rem;
  }

  .info-container {
    padding: 1%;
  }

  .info-container h2 {
    margin-top: 2%;
  }
}